<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Editar Productos', css:
  'editProduct.css'}) %>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <div class="edit-product">
        <h1>EDITAR PRODUCTO</h1>
        <form
          action="/products/edit/<%= productToEdit.id %>?_method=put"
          method="POST"
          enctype="multipart/form-data">

          <div class="edit-product-field">
            <label for="name">NOMBRE </label>
            <input type="text"
              name="name"
              id="name"
              required
              value="<%= productToEdit.name %>"
            />
          </div>

          <div class="edit-product-field">
            <label for="barber">PELUQUERO </label>
            <input
              type="text"
              name="barber"
              id="barber"
              required
              value="<%= productToEdit.barber %>"
            />
          </div>

          <div class="edit-product-field">
            <label for="type">TIPO </label>
            <input
              type="text"
              name="type"
              id="type"
              required
              value="<%= productToEdit.type %>"
            />
          </div>

          <div class="edit-product-field">
            <label for="description">DESCRIPCION: </label>
            <input
              type="text"
              name="description"
              id="description"
              required
              value="<%=productToEdit.description%>"
            />
          </div>

          <div class="edit-product-field">
            <label for="image">IMAGEN: </label>
            <input
              type="file"
              name="image"
              id="image"
              accept="image/png, image/jpeg"
              multiple
            />
          </div>

          <div class="buttons">
            <button type="submit" class="edit">GUARDAR CAMBIOS</button>
          </div>
        </form>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
