<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {title: 'Detalle de Producto' , css: 'productDetail.css' }) %>

  <body>

    <%- include('../partials/header.ejs') %>

      <main>
        <section class="show-img-product">
          <div>
            <div class="img-product">
              <img src="/images/products/<%= product.image %>" alt="" />
            </div>
            <div>

            </div>
        </section>
        <section class="description-product">
          <div>
            <h3>
              <%= product.name %>
            </h3>
          </div>
          <div class="details">
            <p>
              <strong>Tipo de Corte:</strong>
              <%= product.type %>
            </p>
            <p>
              <strong>Descripcion:</strong>
              <%= product.description %>
            </p>
          </div>

          <a href="https://wa.me/3854026471"><button type="submit" id="buy-now">Pedir turno</button></a>
          <a href="/products/edit/<%= product.id %>">Editar</a>
          <form action="/products/delete/<%= product.id %>?_method=delete" method="post">
            <button type="submit">Eliminar</button>
          </form>
        </section>

      </main>

      <%- include('../partials/footer.ejs') %>

  </body>

</html>