<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {title: 'Detalle de Producto' , css: 'productDetail.css' }) %>

  <body>

    <%- include('../partials/header.ejs') %>

      <main>
        <section class="show-img-product">
          <div>
            <div class="img-product">
              <img src="/images/products/<%= product.image %>" alt="" />
            </div>
            <div>

            </div>
        </section>
        <section class="description-product">
          <div class="titulo-corte">
            <h3>
              <%= product.name %>
            </h3>
          </div>
          <div class="details">
            <p>
              <strong>Tipo de Corte:</strong>
              <%= product.type %>
            </p>
            <p>
              <strong>Descripción:</strong>
              <%= product.description %>
            </p>
            <p>
              <strong>Peluquero:</strong>
              <%= product.barber %>
            </p>
            <p>
              <strong>Fecha:</strong>
              <%= product.date %>
            </p>
          </div>

          <a href="https://wa.me/3854026471" class="a-submit"><button type="submit" id="buy-now">Pedir turno</button></a>

          <% if (locals.isLogged) { %>
          <a href="/products/edit/<%= product.id %>"><button type="submit" id="edit">Editar</button></a>
          <form action="/products/delete/<%= product.id %>?_method=delete" method="post" id="deleteForm">
            <button type="submit" id="delete">Eliminar</button>
          </form>
          <% } %>
        </section>

      </main>

      <%- include('../partials/footer.ejs') %>

      <script>
        document.getElementById("deleteForm").addEventListener("click", function(event) {
          event.preventDefault();
    
            // Mostrar un mensaje de confirmación
            if (confirm("¿Estás seguro de que quieres eliminar este producto?")) {
                document.getElementById("deleteForm").submit(); // Enviar el formulario si el usuario confirma
            }
        });
    </script>
  </body>

</html>