<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {css: 'products.css'})
  %>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>

      <% if (locals.isLogged) { %>
        <div class="button-container">
          <a href="/products/add"><button>AGREGAR CORTES</button></a>
        </div>
        <% } %>
      <div class="prod-search-container">
          <form action="/search" method="GET" class="search-bar">
            <input type="search" name="keywords" id="keywords" placeholder="Buscar producto">
            <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
      </div>

      <section>
        <div class="products">
          <% products.forEach((product) => { %>
            <% let firstImage = product.images.length > 0 ? product.images[0] : 'default-image.png'; %>

          <a href="/products/detail/<%=product.id %>" class="main-article">
            <div class="image-article">
              <img src="/images/products/<%= firstImage %>" class="img-article" />
            </div>

            <div class="details-article">
              <h4><%= product.name %></h4>
              <p class="type">
                <strong>Tipo: </strong> <%= product.type %>
              </p>
              <p class="peluquero">
                <strong>Peluquero: </strong> <%= product.barber %>
              </p>
            </div>
            
          </a>

          <% }) %>
        </div>
      </section>

    </main>

    <%- include('../partials/footer.ejs') %>

  </body>
</html>
