<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {title: 'Resultados de la busqueda' ,
  css:'products.css'}) %>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section>
        <div class="products">
          <% products.forEach((product)=> { %>
            <% let firstImage = product.images.length > 0 ? product.images[0] : 'default-image.png'; %>
          <a href="/products/detail/<%=product.id %>" class="main-article">
            <div class="image-article">
              <img src="/images/products/<%= firstImage %>" class="img-article"/>
            </div>
            <div class="details-article">
              <h4><%= product.name %></h4>
              <p class="type">
                <strong>Tipo de corte: </strong>
                <%= product.type %>
              </p>
              <p class="barber">
                <strong>Peluquero: </strong>
                <%= product.barber %>
              </p>
            </div>
          </a>
          <% }) %>
        </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
